{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}{% include head.html %}
  <body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>
    <!--[if lt IE 10]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your
        browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="wrap">
      <header role="banner">
        {% include navigation.html %}
      </header>
      <div class="container">
        <a href="/"><div title="flickr downloadr" class="fd-logo non-main"></div></a>
        <p id="fd-description">A cross-platform desktop application for Windows, Mac and Linux to download (all or selected) photos from your
            photostream in their original size along with their description, title and tags.</p>
        <div class="fd-header-bottom"></div>
      </div>
      <div id="main" class="container">
        <div id="content">
          {{ content | expand_urls: root_url }}
        </div>
      </div>
    </div>
    <footer role="contentinfo">{% include footer.html %}</footer>
    {% include after_footer.html %}
  </body>
</html>
