    <p>
        <span id="socialicons">
            <a href="http://www.facebook.com/FlickrDownloadrPage" target="_blank" title="Like us on Facebook"><img src="../img/social/facebook_c.png" alt="facebook"></a>
            <a href="http://www.flickr.com/photos/_floydpink_" target="_blank" title="Follow us on flickr"><img src="../img/social/flickr_c.png" alt="flickr"></a>
            <a href="mailto:flickr.downloadr@gmail.com" target="_self" title="Send us a gmail"><img src="../img/social/gmail_c.png" alt="gmail"></a>
            <a href="https://plus.google.com/u/0/112082983921398252462/about" target="_blank" title="Follow us on Google+"><img src="../img/social/google+_c.png" alt="google+"></a>
            <a href="http://pinterest.com/flickrdownloadr/" target="_blank" title="Follow us on Pinterest"><img src="../img/social/pinterest_c.png" alt="pinterest"></a>
            <a href="https://twitter.com/FlickrDownloadr" target="_blank" title="Follow us on Twitter"><img src="../img/social/twitter_c.png" alt="twitter"></a>
            <a href="http://www.youtube.com/user/flickrdownloadr" target="_blank" title="Follow us on YouTube"><img src="../img/social/youtube_c.png" alt="youtube"></a>
        </span>
    </p>

    <p>
        <span class="fd-footer-credits">
            <span class="credit">Powered by <a href="http://octopress.org" target="_blank">Octopress</a></span>.
            <span class="credit"> |</span>
            <span class="credit">Hosted on <a href="http://pages.github.com/" target="_blank">GitHub Pages</a>.</span>
        </span>
        <span class="fd-footer-copyright">
            <span class="credit">© 2012 - {{ site.time | date: "%Y" }} Haridas Pachuveetil</span>
        </span>
    </p>
