{% if site.twitter_user %}
<!-- start twitter card summary -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@FlickrDownloadr">
<meta name="twitter:url" content="{% if canonical %}{{ canonical }}{% else %}{{ site.url }}{% endif %}">
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:description" content="{{ description | strip_html | condense_spaces | truncate:200 }}">
<meta name="twitter:image" content="https://flickrdownloadr.com/static/images/screenshot.png">
<!-- end twitter card summary -->
{% endif %}
<!-- start facebook open graph tags -->
<meta property="og:type" content="website">
<meta property="og:url" content="{% if canonical %}{{ canonical }}{% else %}{{ site.url }}{% endif %}">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:image" content="https://flickrdownloadr.com/static/images/screenshot.png">
<meta property="og:site_name" content="flickrdownloadr">
<meta property="og:description" content="{{ description | strip_html | condense_spaces | truncate:200 }}">
<!-- end facebook open graph tags -->
<link href="{{ root_url }}/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
<link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<!-- build:css {{ root_url }}/../styles/vendor.css -->
<!-- bower:css -->
<link rel="stylesheet" href="{{ root_url }}/../../bower_components/bootstrap/dist/css/bootstrap.css"/>
<!-- endbower -->
<!-- endbuild -->
<!-- build:css(.tmp) {{ root_url }}/../styles/main.css -->
<link rel="stylesheet" href="{{ root_url }}/../styles/main.css">
<!-- endbuild -->
