<link href="{{ root_url }}/assets/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="{{ root_url }}/assets/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
<link href="{{ root_url }}/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<!-- build:css styles/vendor.css -->
<!-- bower:css -->
<link rel="stylesheet" href="{{ root_url }}/../../bower_components/bootstrap/dist/css/bootstrap.css"/>
<!-- endbower -->
<!-- endbuild -->
<!-- build:css(.tmp) {{ root_url }}/../styles/main.css -->
<link rel="stylesheet" href="{{ root_url }}/../styles/main.css">
<!-- endbuild -->
<!-- build:js {{ root_url }}/../scripts/vendor/modernizr.js -->
<script src="{{ root_url }}/../../bower_components/modernizr/modernizr.js"></script>
<!-- endbuild -->
