<ul class="main-navigation">
    <li class="brand"><a href="/">{{ site.title }}</a></li>
    <li><a href="/">Home</a></li>
    <li><a href="{{ root_url }}/">Blog</a></li>
    <li><a href="/downloads/latest">Download</a></li>
    <li><a href="mailto:contact.us@flickrdownloadr.com">Contact Us</a></li>
    <li id="fd-forkme-menu"><a href="https://github.com/flickr-downloadr" target="_blank">Fork me on GitHub</a></li>
</ul>
<a id="fd-forkme-ribbon" href="https://github.com/flickr-downloadr" target="_blank">
    <img src="../img/forkme.png"
         alt="Fork me on GitHub">
</a>
