<nav class="navbar navbar-inverse navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ site.title }}</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li {% if page.navbar == 'Blog' %}class="active"{% endif %}>
                    <a href="{{ root_url }}/">Blog</a>
                </li>
                <!--
                <li {% if page.navbar == 'Archives' %}class="active"{% endif %}>
                    <a href="{{ root_url }}/blog/archives">Archives</a>
                </li>
                -->
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Downloads <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/downloads">All Platforms</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">On GitHub</li>
                        <li><a onClick="fdScripts.gaTrack('Files', 'Download', 'zipball (blog)');" target="_blank"
                               href="https://github.com/flickr-downloadr/flickr-downloadr-gtk/zipball/master"> Source as ZIP </a></li>
                        <li><a onClick="fdScripts.gaTrack('Files', 'Download', 'tarball (blog)');" target="_blank"
                               href="https://github.com/flickr-downloadr/flickr-downloadr-gtk/tarball/master"> Source as TAR </a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Support <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/documentation">Documentation</a></li>
                        <li><a onClick="fdScripts.gaTrack('External', 'Click', 'Issues (blog)');"
                               href="https://github.com/flickr-downloadr/flickr-downloadr-gtk/issues" target="_blank">Report Issues</a></li>
                    </ul>
                </li>
                <li><a href="mailto:contact.us@flickrdownloadr.com">Contact Us</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="subscribe-rss" href="{{ site.subscribe_rss }}" title="subscribe via RSS">
                        <span class="visible-xs">RSS</span>
                        <img class="hidden-xs" src="{{ root_url }}/images/rss.png" alt="RSS">
                    </a>
                </li>
                {% if site.subscribe_email %}
                <li>
                    <a class="subscribe-email" href="{{ site.subscribe_email }}" title="subscribe via email">
                        <span class="visible-xs">Email</span>
                        <img class="hidden-xs" src="{{ root_url }}/images/email.png" alt="Email">
                    </a>
                </li>
                {% endif %}
            </ul>
            {% if site.simple_search %}
                <form class="search navbar-form navbar-right" action="{{ site.simple_search }}" method="GET">
                    <input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}">
                    <div class="form-group">
                        <input class="form-control" type="text" name="q" placeholder="Search">
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
</nav>
