// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

footer p {
  text-align: center;
}

.fd-footer-credits {
  float: left;
}

.fd-footer-copyright {
  float: right;
}

@media (max-width: 767px) {
  .fd-footer-credits, .fd-footer-copyright {
    float: none;
    display: block;
  }
}